/* common style section */
body{
    padding: 0;
    margin: 2.5rem 5rem 0rem 5rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "width" 100;
}
.different-text-color{
    color: #FF5400;
}
/* body style */

/* nav section styles */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    display: flex;
    align-items: center;
}
.nav-title-image{
    height: 2.5rem;
    width: 3.1rem;
}
.nav-title-text{
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 0.6rem;
}
.nav-menu{
    display: flex;
}
.nav-menu li{
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    color: #424247;
    margin-left: 2.6rem;
}
.nav-menu li:hover{
    color: #FF5400;
}

/* banner section styles */
.banner-section{
    width: 100%;
    height: 33rem;
    background-image: url(../images/Group13.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.banner-heading{
    font-size: 3.2rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
    font-weight: 700;
}
.banner-text{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 52rem;
    margin: 0 auto;
}
.banner-input-field{
    width: 48rem;
    height: 3.5rem;
    background-color: #ffffff60;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 1rem;
}
.input-field{
    width: 10.8rem;
    height: 3.4rem;
    border: none;
    border-radius: 6px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}
.input-field input{
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 6px;
}
.field_icon{
    height: 20px;
    width: 20px;
}
.input-button{
    width: 10.8rem;
    height: 3.4rem;
    background-color: #ff5500d8;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
}
.button_icon{
    height: 12px;
    width: 12px;
    margin-right: 3px;
}

/* popular tour section */
.popular-tour-section{
    width: 100%;
    margin: 5.8rem auto 0 auto;
}
.tour-section{
    display: flex;
}
.section-left-side{
    width: 50%;
}
.tour-heading{
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}
.tour-text{
    color: #424247;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 1.6rem;
}
.section-left-side ul{
    margin-top: 2.5rem;
}
.section-left-side ul li{
    margin-top: 2.5rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: #424247;
}
.section-right-side{
    width: 50%;
    text-align: right;
}
.right-side-image{
    height: 33rem;
    width: 34rem;
}
.input-button-tour{
    width: 10.8rem;
    height: 3.4rem;
    background-color: #ff5500d8;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    margin-top: 1.4rem;
}

/* destination section styles */
.destionation-details{
    margin-top: 5.8rem;
    text-align: center;
}
.destination-title{
    font-size: 2rem;
    font-weight: 700;
}
.destination-text{
    font-size: 0.9rem;
    font-weight: 400;
    color: #424247;
}
.destination-location{
    margin-top: 3.8rem;
}
.fist-list{
    display: flex;
    gap: 1rem;
}
.maldives{
    background-image: url(../images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.indonesia{
    background-image: url(../images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.second-list{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}
.srilanka{
    background-image: url(../images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
}
.nortamerica{
    background-image: url(../images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.kasmir{
    background-image: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
}
.third-list{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}
.bangladesh{
    background-image: url(../images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    width: 40%;
    background-size: cover;
}
.bandarban{
    background-image: url(../images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    width: 60%;
    background-size: cover;
}
.area-style{
    height: 20.75em;
    border-radius: 1.4rem;
}
.area-text{
    color: #FFFFFF;
    padding: 0;
    margin-top: 9.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}

/* service section styles */
.service-heading{
    margin-top: 5.8rem;
    text-align: center;
}
.service-heading-title{
    font-size: 2rem;
    font-weight: 700;
}
.service-heading-text{
    font-size: 0.9rem;
    font-weight: 400;
    color: #424247;
}
.service-info{
    margin-top: 2rem;
}
.service-list{
    display: flex;
    gap: 1rem;
}
.alignment{
    margin: 1rem auto 0 auto;
}
.service-card{
    width: 50%;
    height: 15rem;
    padding: 1.2rem;
    border-radius: 1rem;
    background-color: #fbb46323;
}
.background-different{
    background-color: #29cdf621;
}
.service-card-image{
    height: 4rem;
    width: 4rem;
}
.service-card-title{
    font-size: 1.4rem;
    font-weight: 700;
}
.service-card-text{
    font-size: 0.9rem;
    font-weight: 400;
    color: #424247;
}

/* deal section styles */
.deals-heading{
    margin-top: 5.8rem;
    text-align: center;
}
.deals-heading-title{
    font-size: 2rem;
    font-weight: 700;
}
.deals-heading-text{
    font-size: 0.9rem;
    font-weight: 400;
    color: #424247;
}
.deal-one , .deal-two , .deal-three{
    height: 22rem;
    margin-top: 1.6rem;
}
.deal-one , .deal-three{
    background-image: url(../images/Group39.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    border-radius: 1.2rem;
    padding: 3.11rem 3.11rem 3.11rem 0;
}
.deal-two{
    background-image: url(../images/Group40.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    border-radius: 1.2rem;
    padding: 3.11rem 0 3.11rem 3.11rem;
}
.deals-card{
    height: 18rem;
    width: 32.5rem;
    background-color: #ffffffc9;
    padding: 2rem;
    border-radius: 0.8rem;
    float: right;
}
.different{
    float: left;
}
.plan-container, .plan-section{
    display: flex;
    gap: 1rem;
}
.color{
    color: #FF5400;
    font-size: 1rem;
}
.plan-text{
    color: #424247;
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 0.6rem;
    font-family: "Open Sans", sans-serif;
}
.card-heading{
    font-size: 1.5rem;
    font-weight: 700;
}
.card-text{
    font-size: 0.9rem;
    font-weight: 300;
    color: #424247;
}
.price-heading{
    font-size: 1.3rem;
    font-weight: 700;
    color: #FF5400;
}
.card-input-button{
    width: 8rem;
    height: 3rem;
    background-color: #ff5500d8;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    margin-top: 0.6rem;
    font-size: 1rem;
    font-weight: 600;
}
/* .deal-two{
    background-image: url(../images/Group\ 40.png);
} */
/* for medium device */
@media screen and (min-width: 490px) and (max-width: 1200px){
    body{
        margin: 2.0rem 0.8rem 0rem 0.8rem;
    }
    /* nav section styles */
    .nav{
        flex-direction: column;
        align-items: start;
    }
    .nav-menu li{
        margin-left: 1rem;
        margin-top: 0.8rem;
    }
    /* banner section style */
    .banner-section{
        width: 100%;
        margin-top: 1.4rem;
    }
    .banner{
        width: 100%;
    }
    .tour-section{
        width: 100%;
    }
}

/* for mobile device */
@media screen and (max-width: 489px){
    body{
        margin: 2.0rem 0.8rem 0rem 0.8rem;
    }
    /* nav section styles */
    .nav{
        flex-direction: column;
        align-items: start;
    }
    .nav-title-image{
        height: 2.1rem;
        width: 2.6rem;
    }
    .nav-title-text{
        font-size: 1rem;
        font-weight: 600;
        margin-left: 0.6rem;
    }
    .nav-menu{
        width: 100%;
    }
    .nav-menu li{
        font-size: 1rem;
        margin-left: auto;
        margin-top: 0.8rem;
    }
    /* banner section style */
    .banner{
        margin: 0;
    }
    .banner-section{
        width: 100%;
        padding: 0;
        margin-top: 1.8rem;
    }
    .banner-heading{
        font-size: 2.2rem;
        margin-bottom: 0.6rem;
        font-weight: 600;
    }
    .banner-text{
        font-size: 0.8rem;
        font-weight: 400;
        max-width: 22.6rem;
        margin: 0 auto;
    }
    .banner-input-field{
        width: 100%;
        height: 14rem;
        flex-direction: column;
        padding: 0 10px;
        
    }
    .input-field{
        width: 23rem;
        height: 5.4rem;
        margin-top: 1rem;
        margin-left: 0;
        padding: 0;
    }
    .right-side-image{
        height: 24rem;
        width: 20rem;
    }
    .input-button{
        width: 23rem;
        height: 5.4rem;
        margin-top: 1rem;
    }
    /* popular tour section */
    .popular-tour-section{
        width: 100%;
        margin: 3.8rem auto 0 auto;
    }
    .tour-section{
        flex-direction: column;
    }
    .section-left-side{
        width: 100%;
    }
    .tour-heading{
        font-size: 2rem;
        font-weight: 600;
    }
    .tour-text{
        font-size: 1.2rem;
    }
    .section-left-side ul li{
        font-size: 1.2rem;
    }
    .right-side-image{
        height: 25rem;
        width: 100%;
    }
    .section-right-side{
        width: 100%;
        margin-top: 1.7rem;
    }
    /* destination section styles */
    .destionation-details{
        margin-top: 3.8rem;
        text-align: center;
    }
    .destination-title{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .destination-text{
        font-size: 0.7rem;
        font-weight: 400;
        color: #424247;
    }
    .destination-location{
        margin-top: 2.5rem;
    }
    .fist-list{
        flex-direction: column;
    }
    .second-list{
        flex-direction: column;
        margin-top: 1rem;
    }
    .third-list{
        flex-direction: column;
        margin-top: 1rem;
    }
    .area-style{
        height: 13.75em;
        border-radius: 1.2rem;
        width: 100%;
    }
    .area-text{
        color: #FFFFFF;
        padding: 0;
        margin-top: 5.5rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
    }
    /* service section style */
    .service-heading{
        margin-top: 3.8rem;
    }
    .service-heading-title{
        font-size: 1.4rem;
        font-weight: 600;
    }
    .service-heading-text{
        font-size: 0.8rem;
        font-weight: 400;
    }
    .service-list{
        flex-direction: column;
    }
    .service-card{
        width: 100%;
        height: 15rem;
        margin-top: 1rem;
    }

    /* deal section styles */
    .deal-one , .deal-two , .deal-three{
        height: 42rem;
        width: 100%;
        margin-top: 1.2rem;
        position: relative;
    }
    .deal-one , .deal-three{
        padding: 0 0.9rem 0.9rem 0.9rem;
    }
    .deal-two{
        padding: 0 0.9rem 0.9rem 0.9rem;
    }
    .deals-card{
        height: 24rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .different{
        position: absolute;
        bottom: 0;
    }
    .plan-container{
        flex-direction: column;
    }

}

